#start-questions {
    width: 50%; 
    padding: 15px; 
    border-radius: 20px; 
    border: solid 1px; 
    text-align:center;
}

.center-items-v {
    display:flex;
    align-items:center;
}

.center-items {
    display:flex;
    justify-content: center;
}

#questionBox{
    animation-duration:2s;
    animation-name:popUp;
}

@keyframes popUp {
    from {
        translate: 0 150w;
        opacity: 0;
      }
    
      to {
        translate: 0 0;
        opacity: 1;
      }
}
