#start-questions {
    width: 50%; 
    padding: 15px;
    margin: 10%;
    border-radius: 30px; 
    border: 0px solid; 
    background-color:lightgray;
    text-align:center;
    outline: none;
}

.center-items-v {
    display:flex;
    align-items:center;
}

.center-items {
    display:flex;
    justify-content: center;
}

#questionBox{
    animation-duration:2s;
    animation-name:popUp;
}

@keyframes popUp {
    from {
        transform: translate(0,50%);
        opacity: 0;
      }
    
      to {
        translate: translate(0);
        opacity: 1;
      }
}
