#start-questions {
    width: 50%; 
    padding: 15px;
    margin-top: 2.5%;
    border-radius: 30px; 
    border: 0px solid; 
    background-color:rgb(230, 230, 230);
    text-align:center;
    outline: none;
}

.center-items {
    display:flex;
    justify-content: center;
}

#questionBox{
    animation-duration:2s;
    animation-name:popUp;
}

@keyframes popUp {
    from {
        transform: translate(0,50%);
        opacity: 0;
      }
    
      to {
        translate: translate(0);
        opacity: 1;
      }
}

th, td {
    padding:10px;
    background-color: rgb(230, 230, 230);
}

table {
    text-align:center;
    border-radius: 20px;
    width:100%;
}

.goal {
    background-color:rgb(230, 230, 230);
}

.goals {
    display:flex;
    flex
}

hr {
    background-color:white;
}